<button id="homebtn" type="button" class="btn btn-info" routerLink="/" routerLinkActive="active">Home</button>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">First Task</h5>
      <button type="button" class="close" routerLink="/" routerLinkActive="active">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">year</th>
            <th scope="col">category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of books">
            <td>{{x.title}}</td>
            <td>{{x.author}}</td>
            <td>{{x.year}}</td>
            <td>{{x.category}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" routerLink="/" routerLinkActive="active">Close</button>
    </div>
  </div>
</div>